/*колір основного тексту: #434455; */
/*вторинний колір тексту: #2e2f42; */
/*білий #FFFFFF */
/*акцент #E7E9FC */
/* основний колір фону #4D5AE5 */
/*вторинний колір фону #404BBF*/

.list {
  list-style: none;
}
.logo {
  font-family: 'raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
}
.logo .web {
  color: var(--primary-bg-color);
}
.link {
  text-decoration: none;
}
.site-nav {
  color: var(--title-text-color);
}
.contact .link {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.hero {
  color: var(--primary-white-color);
  background-color: var(--title-text-color);
}
.hero .primary {
  color: var(--primary-white-color);
  background-color: var(--primary-bg-color);
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.hero .title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.section .title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
