:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #e7e9fc;
  --primary-white-color: #ffffff;
  --primary-bg-color: #4d5ae5;
  --title-bg-color: #404bbf;
  --primary-btn-color: #f4f4fd;
}
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: 'roboto', sans-serif;
  font-weight: 400;
}
.list {
  list-style: none;
}
.logo {
  font-family: 'raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
}
.logo .web {
  color: var(--primary-bg-color);
}
.logo .studio {
  color: var(--primary-btn-color);
}
.link {
  text-decoration: none;
}
.site-nav {
  color: var(--title-text-color);
}
.contact .link {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.hero {
  color: var(--primary-white-color);
  background-color: var(--title-text-color);
}
.hero .primary {
  color: var(--primary-white-color);
  background-color: var(--primary-bg-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.hero .title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.section .title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer {
  background-color: var(--title-text-color);
}
.footer .text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.menu .btn {
  color: var(--primary-bg-color);
  background-color: var(--primary-btn-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
}
.hero .btn:hover,
.hero .btn:focus {
  background: var(--title-bg-color);
  border-radius: 4px;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--primary-bg-color);
}
.contact .link:hover,
.contact .link:focus {
  color: var(--primary-bg-color);
}
.btn {
  cursor: pointer;
}
.menu .btn:hover,
.menu .btn:focus {
  background-color: var(--primary-bg-color);
  color: var(--primary-white-color);
}
